/*
*本站自己的css
*/
ul{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
img {
	border: none;
}
img {
	display: inline-block;
}
html, body, ul, li, ol, table, tr, td, form, p {
	margin: 0;
	padding: 0;
}
ul, li {
    list-style: none;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
div {
	display: block;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
body{
  background:#F4F4F4;
  margin: 0;
  padding:0;
  font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.logo{
   outline: none;
   text-decoration: none;
   color: #333;
   height: 100%;
   display: block;
   text-indent: -9999px;
}
#menucontainer h1{
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	background: url(../image/bg/xox-logo.png) no-repeat;
	width: 96px;
	height: 37px;
	padding: 0;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-size: 22px;
	font-weight: normal;
	margin: 0;
}
.xox_right{
	border-color:#ddd;
    border-style:solid;
    border-width:1px;
	width:270px;
	color: #666;
	background: #fff;
	margin-top: 20px;
	float: right;
	font: 12px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.xox_middle{
	width:600px;
	background-color:rgb(255,255,255);
	padding:5px 4px 5px 5px;
	margin:0 0 0 5px;
	height:250px;
	border-color:#ddd;
    border-style:solid;
    border-width:1px;
}
.xox_middle .header{
	width:600px;
	border: none;
}
.xox_middle .bottomer{
	width:600px;
	height:205px;
	margin:15px 0px 0px 0px;
	position: absolute;
	filter: Alpha(Opacity=0);
	z-index: -1;
}
.xox_middle .bottomer-current{
	width:600px;
	height:205px;
	margin:15px 0px 0px 0px;
	filter: Alpha(Opacity=100);
    position: absolute; 
    z-index: 0; 
}
.bottomer-div{
	width: 600px;
	overflow: hidden;
}
.bottomer-smalldiv{
	font: 12px/20px arial, helvetica, verdana, tahoma, sans-serif;
	word-break: break-all;
	word-wrap: break-word;
	float: left;
	width: 128px;
	margin-right: 10px;
}
.bottomer-smalldiv .items{
	width: 128px;
}
.bottomer-smalldiv .items .p{
	margin-right: 0px;
	margin-bottom: 0px;
	float: left;
	z-index: 0;
	position: relative;
	width: 128px;
}
.bottomer-smalldiv .items .p .p_thumb img {
	position: absolute;
	top: -8px;
	display: block;
	width: 124px;
	height: 93px;
	clip: rect(0 124px 84px 0);
}
.bottomer-smalldiv .items .p .p_link {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 128px;
	height: 76px;
	background: url(/image/bg/master.png) no-repeat 5000px 5000px;
}
.bottomer-smalldiv .items .p .p_thumb {
position: relative;
	width: 128px;
	height: 80px;
	overflow: hidden;
	margin-bottom: 7px;
	background: url(/image/bg/master.png) no-repeat 0 -896px;
}
.bottomer-smalldiv .items .p .p_status {
	z-index: 1;
	position: absolute;
	left: 0;
	width: 128px;
	height: 18px;
	top: 62px;
	overflow: hidden;
}
.bottomer-smalldiv .items .p .p_ishd .ico__SD {
	display: block;
	height: 14px;
	line-height: 14px;
}
.bottomer-smalldiv .items  .p .p_status .bg {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 18px;
	background: #000;
	opacity: 0.6;
}
.bottomer-smalldiv .items .p .p_status .status {
	color: #fff;
	margin-left: 4px;
	line-height: 17px;
}
.bottomer-smalldiv .items .p .p_ishd {
	z-index: 1;
	position: absolute;
	top: 60px;
	left: 95px;
	height: 15px;
	line-height: 14px;
	overflow: hidden;
}
.bottomer-smalldiv .items .p li{
	line-height: 18px;
	color: #909090;
}
.bottomer-smalldiv .items .p .p_title a{
	color: #333;
}
.tabs{
	height: 32px;
	left: 0;
	float:left;
	background: #eaf9fe none;
	border-color: #e5e5e5;
	width:500px;
	overflow: visible;
	padding-right: 2px;
	border: none;
}
.tabs-r{
	background: #eaf9fe none;
	border-color: #e5e5e5;
	display:block;
	float:right;
	width:98px;
	height: 32px;
}
.tabs-r a{
	height: 30px;
	line-height: 30px;
}
.tabs ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font: 12px/20px arial, helvetica, verdana, tahoma, sans-serif;
	word-break: break-all;
	word-wrap: break-word;
}
.tabs ul li{
	float: left;
	overflow: hidden;
	height: 30px;
	margin: 0;
	margin-right: -1px;
	border-top: 1px solid #e5e5e5;
	border: 1px solid #e5e5e5;
	display: list-item;
	text-align: -webkit-match-parent;
}
.tabs ul li.current {
	cursor: default;
	height: 31px;
	font-weight: bold;
	background: #fff;
	border-bottom: none;
}
.tabs ul li a{
	height: 30px;
	line-height: 30px;
	padding: 0 14px;
	text-align: center;
	font-size: 14px;
}

.xox_middle1 {
	position: relative;
	height: 466px;
	clear:both;
	display:block;
	width:905px;
	margin:0 auto;
	padding:2px 0px 2px 3px;
	background-color:rgb(255,255,255);
	border-color:#ddd;
    border-style:solid;
    border-width:1px;
}
.xox_middle1 a {
	font-family: "宋体","Arial Narrow",sans-serif;
	font-size: 12px;
	position: absolute;
	overflow: hidden;
	color: #fff;
	display:block;
}
.xox_middle1 a img{
}

.xox_middle1 a:hover img{
	border:3px solid #1AA6E1;
}
.xox_middle1 a p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-indent: 10px;
	background: rgba(0,0,0,0.6);
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000") 6;
}
#picItem1 {
	left: 2;
	top: 2;
	width: 170px;
	height: 465px;
}
#picItem2 {
	left: 176px;
	top: 2;
	width: 180px;
	height: 170px;
}
#picItem3 {
	left: 176px;
	top: 175px;
	width: 180px;
	height: 292px;
}
#picItem4 {
	left: 359px;
	top: 2;
	width: 360px;
	height: 300px;
}
#picItem5 {
	left: 359px;
	top: 305px;
	width: 194px;
	height: 162px;
}
#picItem6 {
	left: 556px;
	top: 305px;
	width: 163px;
	height: 162px;
}
#picItem7 {
	left: 722px;
	top: 2;
	width: 183px;
	height: 160px;
}
#picItem8 {
	left: 722px;
	top: 165px;
	width: 183px;
	height: 303px;
}
hr.null {
	border: none;
	border-top: 1px solid transparent;
	clear: both;
	height: 0;
	margin: 15px 0;
}
user agent stylesheethr {
	display: block;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	border-style: inset;
	border-width: 1px;
}
#right_bottom{
	width:260px;
	margin:10px 5px 3px 5px;
}
#right_bottom .gray{
	color: #999;
}
#right_bottom .xox_mobile{
	background: url(http://img.xiami.com/res/v3/img/xiami_mobile.png) no-repeat scroll 160px 0 transparent;
	display: block;
	height: 60px;
	line-height: 20px;
	margin: 15px 0 0;
	padding: 0 140px 15px 5px;
	text-decoration: none;
}
#right_bottom a{
	color: #666;
}
#right_bottom cite{
	font-style: normal;
    font-weight: 400;
}
#right_bottom ul{
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
}
#right_bottom ul li a{
	display: block;
	float:left;
	width: 220px;
	overflow: hidden;
}
#right_bottom ul li{
	display: list-item;
	font-size: 12px;
	line-height: 2.2;
	white-space: nowrap;
	border-bottom: 1px dotted #ddd;
	clear:both;
}
#right_bottom ul li span{
	float:right;
}
#right_bottom h2{
	font-family: 'Hiragino Sans GB','Microsoft YaHei',sans-serif!important;
	margin: 0 0 5px;
	font-size: 16px;
	color: #666;
	border-bottom: 2px solid #d8e1e3;
	padding-bottom: 10px;
	color: #333;
	text-indent: 5px;
	font-weight: 400;
}
.xox_menu{
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	width: 910px;
	margin: 0 auto;
	height: 62px;
	z-index: 50;
}
.xox_menu .more{
	color: #8ca6d7;
}
.xox_menu dl{
	padding: 7px 0 7px 10px;
	zoom: 1;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	display: block;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font: 12px/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
}
.xox_menu dl dt{
	font-weight: bold;
	color: #666666;
	float: left;
	line-height: 24px;
	padding-right: 20px;
	word-wrap: normal;
	white-space: nowrap;
}
.xox_menu dl dd{
	float: left;
	line-height: 24px;
	padding-right: 20px;
	word-wrap: normal;
	white-space: nowrap;
}
.xox_menu dl dd a{
	color:#999999;
	cursor: pointer;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
}
.xox_menu1{
	width: 260px;
	margin: 0 auto;
	height: 220px;
	z-index: 50;
}
.xox_menu1 span{
	font: 12px Arial,Helvetica,sans-serif;
	line-height: 150%;
	color: #666;
}
.xox_menu1 h2{
	font: 15px Arial,Helvetica,sans-serif;
	color: #072;
	margin: 10px 0 12px 0;
	line-height: 150%;
}
.xox_menu1 ul{
	list-style: none;
	margin-left: 10px;
}
.xox_menu1 ul li{
	float:left;
	text-align: left;
	width: 5em;
	line-height: 1.62;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
}


#menubar{
	width:910px;
	margin:0 auto;
	position: relative;
	display: block;
}
#menubar .xox-nav{
  padding-top: 5px;
  margin-left: 130px;
}
#menubar .xox-navigate{
	position: absolute;
	right: 0;
	top: 5px;
}
#menubar .xox-navigate-list{
	float: left;
	margin-left: 15px;
	position: relative;
}
#menubar .xox-navigate-list  a{
	display: block;
	padding: 7px 0;
	color: #fff;
	font-size:10pt;
}
#menubar .xox-nav li {
    float: left;
    background: url(../image/bg/xox-sp-header.png) no-repeat -70px -40px;
	height: 31px;
	width: 61px;
	text-align: -webkit-match-parent;
}
#menubar .xox-nav .middle {
    background: url(../image/bg/xox-sp-header.png) no-repeat -141px -40px;
	height: 31px;
	width: 60px;
}
#menubar .xox-nav .right {
    background: url(../image/bg/xox-sp-header.png) no-repeat -211px -40px;
	height: 31px;
	width: 61px;
}
#menubar  li a{
    color: #fff;
	display: block;
	padding: 6px 7px 7px 7px;
	margin: 1px 1px 1px 0;
}
#menubar  li a span{
	font-size:10pt;
	display:block;
	margin-left: 9px;
	margin-right: 9px;
}
#menubar .current{
	background: url(../image/bg/xox-sp-header.png) no-repeat 0 -40px;
}
#menucontainer{
	width: 100%;
	min-width: 910px;
	height: 42px;
	z-index: 100;
	background: url(../image/bg/xox-header.jpg) repeat-x center center;
	position: fixed;
	top:0;
	left:0;
	display: block;
}
.small-text{
	font-size:10pt;
}
.clear{
	clear:both;
}
.clear-5{
	margin-top: 5px;
	clear:both;
}
.clear-50{
	margin-top: 50px;
	clear:both;
}
#container{
  padding-top:10px;
  margin:0 auto;
  width:920px;
}
/*正文部分
*/
#con-main{
   width:620px;
   padding:5px 5px 5px 5px;
}
#bottom{
     
}
#logindiv{
  margin-left:0px;
  margin-right:0px;
  margin-top:5px;
  padding-left:0px;
  padding-right:0px;
  height:50px;
  float:right;
  width:270px;
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
  background-color:rgb(255,255,255);
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button-success {
    background: rgb(76, 201, 71); /* this is a green */
}
.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.pure-button-warning {
    background: orange;
}
.pure-button-secondary {
    background: rgb(95, 198, 218); /* this is a light blue */
}
#logbtn{
    margin-top:10px;
    margin-left:5px;
}

.div-header{
	margin: 0;
	display: block;
	font: 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;
}
.div-header h2{
    margin-left:10px;
	color: #369;
	font-size: 14px;
}
.main-title{
   float:left;
   width:190px;
   height:160px;
   padding:1px 3px 2px 3px;
   margin:2px 2px 2px 2px;
   background-color:rgb(255,255,255);
   border-color:#ddd;
   border-style:solid;
   border-width:1px;
}
.main-title-left{
   float:left;
   width:190px;
   height:160px;
   padding:1px 3px 2px 3px;
   margin:2px 6px 2px 0px;
   background-color:rgb(255,255,255);
   border-color:#ddd;
   border-style:solid;
   border-width:1px;
}
.main-title-right{
   float:left;
   width:190px;
   height:160px;
   padding:1px 3px 2px 3px;
   margin:2px 0px 2px 6px;
   background-color:rgb(255,255,255);
   border-color:#ddd;
   border-style:solid;
   border-width:1px;
}
.main-title-a{
   text-decoration:none;
}
.main-title-img{
	padding:5px 1px 1px 1px;
    width:188px;
    height:130px;
}
#switchImg{
   width:620px;
   height:250px;
}
.xox_ad{
	clear:both;
	display:block;
	width:905px;
	height:90px;
	margin:0 auto;
	padding:2px 0px 2px 3px;
	background-color:rgb(255,255,255);
	border-color:#ddd;
    border-style:solid;
    border-width:1px;
}
.xox_ad1{
	height:260px;
	width:260px;
	margin:3px 5px 3px 5px;
}
.xox_ad img{
	padding:1px 1px 1px 1px;
	height :88px;
	width:901px;
	border:none; 
}
#dibu{
   width:220px;
   height:150px;
}
#linker{
   padding-top:20px;
}
#linker .container {
	width: 910px;
	margin: auto;
	color: #666;
	padding-top: 30px;
	text-align: center;
}
#linker .container  a{
	margin-left: 10px;
	color: #666;
	outline: none;
	text-align: center;
}
#footer{
	padding: 20px 0;
	color: #999;
	text-align: center;
}
#footer .container{
	width: 910px;
	margin: auto;
}
#footer .container  a{
	color: #999;
	outline: none;
}


