/*
*本站自己的css
*/
ul{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
html, body, ul, li, ol, table, tr, td, form, p {
	margin: 0;
	padding: 0;
}
ul, li {
    list-style: none;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
div {
	display: block;
}
body{
  background:#F4F4F4;
  margin: 0;
  padding:0;
  font: 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;
}
/*
div{
   border-style:solid;border-width:1px;
}
*/
.logo{
   outline: none;
   text-decoration: none;
   color: #333;
   height: 100%;
   display: block;
   text-indent: -9999px;
}
#menucontainer h1{
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
	background: url(../image/xox-logo.png) no-repeat;
	width: 96px;
	height: 37px;
	padding: 0;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-size: 22px;
	font-weight: normal;
	margin: 0;
}
#menubar{
	width:910px;
	margin:0 auto;
	position: relative;
	display: block;
}
#menubar .xox-nav{
  padding-top: 5px;
  margin-left: 130px;
}
#menubar .xox-navigate{
	position: absolute;
	right: 0;
	top: 5px;
}
#menubar .xox-navigate-list{
	float: left;
	margin-left: 15px;
	position: relative;
}
#menubar .xox-navigate-list  a{
	display: block;
	padding: 7px 0;
	color: #fff;
	font-size:10pt;
}
#menubar .xox-nav li {
    float: left;
    background: url(../image/xox-sp-header.png) no-repeat -70px -40px;
	height: 31px;
	width: 61px;
	text-align: -webkit-match-parent;
}
#menubar .middle {
    background: url(../image/xox-sp-header.png) no-repeat -141px -40px;
	height: 31px;
	width: 60px;
}
#menubar .right {
    background: url(../image/xox-sp-header.png) no-repeat -211px -40px;
	height: 31px;
	width: 61px;
}
#menubar  li a{
    color: #fff;
	display: block;
	padding: 6px 7px 7px 7px;
	margin: 1px 1px 1px 0;
	text-decoration: none;
}
#menubar  li a span{
	font-size:10pt;
	margin-left: 10px;;
	margin-right: 10px;;
}
#menubar .current{
	background: url(../image/xox-sp-header.png) no-repeat 0 -40px;
}
#menucontainer{
	width: 100%;
	min-width: 910px;
	height: 42px;
	z-index: 100;
	background: url(../image/xox-header.jpg) repeat-x center center;
	position: fixed;
	top:0;
	left:0;
	display: block;
}
.small-text{
	font-size:10pt;
}
.clear{
	clear:both;
}
.clear-35{
	margin-top: 35px;
	clear:both;
}
#container{
  padding-top:10px;
  margin:0 auto;
  width:920px;
}
/*正文部分
*/
#con-main{
   width:620px;
   padding:5px 5px 5px 5px;
}
#bottom{
     
}
#logindiv{
  margin-left:20px;
  margin-top:5px;
  height:50px;
  width:270px;
  background-color:rgb(255,255,255);
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button-success {
    background: rgb(76, 201, 71); /* this is a green */
}
.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.pure-button-warning {
    background: orange;
}
.pure-button-secondary {
    background: rgb(95, 198, 218); /* this is a light blue */
}
#logbtn{
    margin-top:10px;
    margin-left:5px;
}

.div-header{
	margin: 0;
	display: block;
	font: 12px/1.5 Arial,Tahoma,Helvetica,sans-serif;
}
.div-header h2{
    margin-left:10px;
	color: #369;
	font-size: 14px;
}
.main-title{
   float:left;
   width:190px;
   height:160px;
   padding:1px 3px 2px 3px;
   margin:2px 2px 2px 2px;
   background-color:rgb(255,255,255);
   border-color:#ddd;
   border-style:solid;
   border-width:1px;
}
.main-title-left{
   float:left;
   width:190px;
   height:160px;
   padding:1px 3px 2px 3px;
   margin:2px 6px 2px 0px;
   background-color:rgb(255,255,255);
   border-color:#ddd;
   border-style:solid;
   border-width:1px;
}
.main-title-right{
   float:left;
   width:190px;
   height:160px;
   padding:1px 3px 2px 3px;
   margin:2px 0px 2px 6px;
   background-color:rgb(255,255,255);
   border-color:#ddd;
   border-style:solid;
   border-width:1px;
}
.main-title-a{
   text-decoration:none;
}
.main-title-img{
	padding:5px 1px 1px 1px;
    width:188px;
    height:130px;
}
#switchImg{
   width:620px;
   height:250px;
}
#con-title{
    width:620px;
}
#con-title ul{
    width:100%;
    background-color:rgb(255,255,255);
}
#con-title li{
	width:100%;
    margin:0 0 0 0;
	padding:0 0 0 0;
    list-style-type:none;
    overflow:hidden;
    height: 26px;
    display: list-item;
    text-align: -webkit-match-parent;
}
#con-title a{
   text-decoration:none;
}

#guanggao{
   width:295px;
   height:150px;
}
#dibu{
   width:220px;
   height:150px;
}
#linker{
   padding-top:20px;
}
#linker .container {
	width: 910px;
	margin: auto;
	color: #666;
	padding-top: 30px;
	text-align: center;
}
#linker .container  a{
	margin-left: 10px;
	color: #666;
	outline: none;
	text-decoration: none;
	text-align: center;
}
#footer{
	padding: 20px 0;
	color: #999;
	text-align: center;
}
#footer .container{
	width: 910px;
	margin: auto;
}
#footer .container  a{
	color: #999;
	outline: none;
	text-decoration: none;
}


